.pinning-action-button {
  width: 70px;
  padding: 5px 3px;
  margin: 3px;
  display: block;
}
.pinning-selected-button {
  background-color: green;
}
#canvasDiv {
  margin: 60px auto;
  width: 1024px; 
  height: 1024px; 
  background-image: url('test.png');
}
